rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ATENÇÃO: Estas regras são permissivas para fins de desenvolvimento.
    // Elas permitem que qualquer usuário autenticado leia e escreva em
    // qualquer parte do seu banco de dados.
    // Antes de publicar seu aplicativo, você DEVE reativar regras de segurança mais restritivas.
    match /{document=**} {
      allow read, write: if request.auth != null;
    }
  }
}
